<div class="row align-content-center">
    <form [formGroup]="newTodoForm" (ngSubmit)="addTaskItem()">
        <input type="text" placeholder="Task to do" class="form-control" 
          formControlName="itemName"  required>
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
</div>



<div class="todolist" *ngFor="let todo of taskList; index as index"> 
    <div class="todo-item">
        <p [ngClass]="{'markDone': todo.completed===true}">{{todo.name}}</p>  
        <button class="button" style="color:green" (click)="markAsDone(todo)">Done</button>  
        <button class="button" style="color:red" (click)="deleteTask(index)">Delete</button> 
    </div>
</div>


<div class="row" *ngFor=" let item of taskItems">
    <li>{{item.name}}</li>
</div>